## Düzgün görmek için vs code'a jupyter paketini yüklemeniz lazım

In [58]:
import pyomo.environ as pyo
import pandas as pd

In [59]:
#!pip install openpyxl

directory="Scenarios\ProjectPart1-Scenario1.xlsx"
#pandas depens on this package to read excel files
orders=pd.read_excel(directory,sheet_name="Orders")
orders.head()

   Order ID Product Type  Demand Amount  Due Date  Earliness Penalty
0         1           P1            150         2                 17
1         1           P2            115         2                 17
2         1           P5            185         2                 17
3         2           P2            200         4                 13
4         2           P3            170         4                 13

In [60]:
trucks=pd.read_excel(directory,sheet_name="Vehicles")
trucks

,Vehicle ID,Vehicle Type,Capacity for pallet type 1,Capacity for pallet type 2,Fixed Cost (c_k),Variable Cost (c'_k)
0,1,1,22,33,100,150
1,2,2,12,18,80,120
2,3,3,6,8,50,75
3,4,1,22,33,100,150
4,5,2,12,18,80,120
5,6,3,6,8,50,75
6,7,1,22,33,100,150
7,8,2,12,18,80,120
8,9,3,6,8,50,75

In [61]:
pallets=pd.read_excel(directory,sheet_name="Pallets")
pallets

     Pallet ID Product Type  Amount  Pallet Size  Release Day
0            1           P2     100            1            1
1            2           P2      65            2            1
2            3           P2      70            2            1
3            4           P2      65            2            1
4            5           P3     100            1            1
..         ...          ...     ...          ...          ...
101        102           P5      50            2            6
102        103           P5      75            2            6
103        104           P5      50            2            6
104        105           P5     100            1            6
105        106           P5      70            2            6

[106 rows x 5 columns]

In [62]:
pallets["Product Type"].unique()

array(['P2', 'P3', 'P4', 'P5', 'P1'], dtype=object)

In [63]:
extraParam=pd.read_excel(directory,sheet_name="Parameters")
extraParam

               Parameter  Value
0   Planning Horizon (T)      7
1  Max. trips per period      3
2   Max. pallets in area     15

In [64]:
# --------------------------------------------------------
# 1) Create the model
# --------------------------------------------------------
model = pyo.ConcreteModel()


# --------------------------------------------------------
# 2) Define Sets
# --------------------------------------------------------
model.I = pyo.Set(initialize=range(1, len(pallets)+1), doc="Set of pallets")
model.K = pyo.Set(initialize=trucks["Vehicle Type"].unique().tolist(), doc="Set of vehicle types")

# Don't forget to change the indexes if there is a change in data, default order:
# 0	Planning Horizon (T)
# 1	Max. trips per period	
# 2	Max. pallets in area

model.T = pyo.Set(initialize=range(1, extraParam.iloc[0,1]+1), doc="Set of days")
model.M = pyo.Set(initialize=range(1, extraParam.iloc[1,1]+1), doc="Set of possible trips per day")

model.S = pyo.Set(initialize=range(1, pallets["Pallet Size"].max()+1), doc="Set of pallet sizes")
model.O = pyo.Set(initialize=orders["Order ID"].unique() ,doc="Set of orders")
# model.J = pyo.Set(initialize=range(1, int(sorted(pallets["Product Type"].unique())[-1][-1])+1), doc="Set of products") 
model.J = pyo.Set(initialize=pallets["Product Type"].unique(), doc="Set of products") 

model.I.display(), model.K.display(), model.T.display(), model.M.display(), model.S.display(), model.O.display(), model.J.display()

I : Set of pallets
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :  106 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106}
K : Set of vehicle types
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    3 : {1, 2, 3}
T : Set of days
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    7 : {1, 2, 3, 4, 5, 6, 7}
M : Set of possible trips per day
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    3 : {1, 2, 3}
S : Set of pallet sizes
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    2 : {1, 2}
O : Set of orders
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :   18 : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20}
J : Set of products
    Size=1, Index=None, Ordered=Insertion
    Key  : Dimen : Domain : Size : Members
    None :     1 :    Any :    5 : {'P2', 'P3', 'P4', 'P5', 'P1'}

(None, None, None, None, None, None, None)

In [65]:
capacity_dict = {}
for row in trucks["Vehicle Type"].unique():
    row=trucks[trucks["Vehicle Type"]==row].iloc[0,:]
    k=int(row.iloc[1])
    s=1
    capacity_dict[(k, s)] = row.iloc[2]
    k=int(row.iloc[1])
    s=2
    capacity_dict[(k, s)] = row.iloc[3]

demand_dict = {}
for row in orders.iterrows():
    o=row[1].iloc[0]
    j=row[1].iloc[1]
    demand_dict[(o, j)] = row[1].iloc[2]

In [66]:
orders.groupby(["Order ID","Due Date"]).count().reset_index().iloc[:,0:2].set_index("Order ID").to_dict()["Due Date"]

{1: 2,
 2: 4,
 3: 3,
 4: 2,
 5: 1,
 6: 5,
 7: 1,
 8: 6,
 9: 6,
 10: 6,
 11: 3,
 12: 1,
 13: 3,
 14: 4,
 15: 6,
 18: 6,
 19: 4,
 20: 2}

In [67]:
# --------------------------------------------------------
# 3) Define Parameters
# --------------------------------------------------------
model.release_day = pyo.Param(model.I, initialize=dict(enumerate(pallets["Release Day"], start=1)), within=pyo.NonNegativeIntegers, doc="r_i: Release day for pallet i")
model.c_owned     = pyo.Param(model.K, initialize=dict(enumerate(trucks.groupby(["Vehicle Type","Fixed Cost (c_k)"]).count().reset_index().iloc[:,1], start=1)), within=pyo.NonNegativeReals, doc="c_k: Cost of using an owned vehicle type k")
model.c_rented    = pyo.Param(model.K, initialize=dict(enumerate(trucks.groupby(["Vehicle Type","Variable Cost (c'_k)"]).count().reset_index().iloc[:,1], start=1)), within=pyo.NonNegativeReals, doc="c'_k: Cost of renting vehicle type k")

#!!!!!!! Unchecked initialization
model.h           = pyo.Param(model.O, initialize=orders.groupby(["Order ID","Earliness Penalty"]).count().reset_index().iloc[:,0:2].set_index("Order ID").to_dict()["Earliness Penalty"], within=pyo.NonNegativeReals, doc="h_o: Per-day earliness penalty for order o")
model.d_due       = pyo.Param(model.O, initialize=orders.groupby(["Order ID","Due Date"]).count().reset_index().iloc[:,0:2].set_index("Order ID").to_dict()["Due Date"], within=pyo.NonNegativeIntegers, doc="d_o: Due day for order o")


model.p_demand    = pyo.Param(model.O, model.J, initialize=demand_dict, default=0, within=pyo.NonNegativeIntegers, doc="p_{o,j}: Demand for product j in order o")
demand_dict=None

model.j_of_i      = pyo.Param(model.I, initialize=dict(enumerate(pallets["Product Type"], start=1)), within=model.J, doc="j(i): Product type of pallet i")
model.n_i         = pyo.Param(model.I, initialize=dict(enumerate(pallets["Amount"], start=1)), within=pyo.NonNegativeIntegers, doc="n_i: Product capacity of pallet i")


model.capacity    = pyo.Param(model.K, model.S, initialize=capacity_dict, within=pyo.NonNegativeIntegers, doc="Capacity_{k,s}: # of pallets of size s that fit in vehicle k")
capacity_dict=None

model.b_k         = pyo.Param(model.K, initialize=dict(enumerate(trucks.groupby("Vehicle Type").count().reset_index().iloc[:,1], start=1)), within=pyo.NonNegativeIntegers, doc="b_k: Number of owned vehicles of type k available")

model.q           = pyo.Param(initialize=extraParam.iloc[2,1],within=pyo.NonNegativeIntegers, doc="q: Max number of pallets allowed in waiting area overnight")

model.release_day.display(), model.h.display(), model.d_due.display(), model.p_demand.display(), model.j_of_i.display(), model.n_i.display(), model.capacity.display(), model.q.display()

release_day : r_i: Release day for pallet i
    Size=106, Index=I, Domain=NonNegativeIntegers, Default=None, Mutable=False
    Key : Value
      1 :     1
      2 :     1
      3 :     1
      4 :     1
      5 :     1
      6 :     1
      7 :     1
      8 :     1
      9 :     1
     10 :     1
     11 :     1
     12 :     1
     13 :     1
     14 :     1
     15 :     1
     16 :     1
     17 :     2
     18 :     2
     19 :     2
     20 :     2
     21 :     2
     22 :     2
     23 :     2
     24 :     2
     25 :     2
     26 :     2
     27 :     2
     28 :     2
     29 :     2
     30 :     2
     31 :     2
     32 :     2
     33 :     2
     34 :     2
     35 :     2
     36 :     2
     37 :     3
     38 :     3
     39 :     3
     40 :     3
     41 :     3
     42 :     3
     43 :     3
     44 :     3
     45 :     3
     46 :     3
     47 :     3
     48 :     3
     49 :     3
     50 :     4
     51 :     4
     52 :     4
     53 :     4
     54 :     4
     55 :     4
     56 :     4
     57 :     4
     58 :     4
     59 :     4
     60 :     4
     61 :     4
     62 :     4
     63 :     4
     64 :     4
     65 :     4
     66 :     4
     67 :     5
     68 :     5
     69 :     5
     70 :     5
     71 :     5
     72 :     5
     73 :     5
     74 :     5
     75 :     5
     76 :     6
     77 :     6
     78 :     6
     79 :     6
     80 :     6
     81 :     6
     82 :     6
     83 :     6
     84 :     6
     85 :     6
     86 :     6
     87 :     6
     88 :     6
     89 :     6
     90 :     6
     91 :     6
     92 :     6
     93 :     6
     94 :     6
     95 :     6
     96 :     6
     97 :     6
     98 :     6
     99 :     6
    100 :     6
    101 :     6
    102 :     6
    103 :     6
    104 :     6
    105 :     6
    106 :     6
h : h_o: Per-day earliness penalty for order o
    Size=18, Index=O, Domain=NonNegativeReals, Default=None, Mutable=False
    Key : Value
      1 :    17
      2 :    13
      3 :    13
      4 :    24
      5 :    25
      6 :    12
      7 :    17
      8 :    18
      9 :    12
     10 :    17
     11 :    10
     12 :    25
     13 :    25
     14 :    23
     15 :    11
     18 :    10
     19 :    19
     20 :    19
d_due : d_o: Due day for order o
    Size=18, Index=O, Domain=NonNegativeIntegers, Default=None, Mutable=False
    Key : Value
      1 :     2
      2 :     4
      3 :     3
      4 :     2
      5 :     1
      6 :     5
      7 :     1
      8 :     6
      9 :     6
     10 :     6
     11 :     3
     12 :     1
     13 :     3
     14 :     4
     15 :     6
     18 :     6
     19 :     4
     20 :     2
p_demand : p_{o,j}: Demand for product j in order o
    Size=90, Index=O*J, Domain=NonNegativeIntegers, Default=0, Mutable=False
    Key        : Value
     (1, 'P1') :   150
     (1, 'P2') :   115
     (1, 'P5') :   185
     (2, 'P2') :   200
     (2, 'P3') :   170
     (2, 'P4') :   110
     (2, 'P5') :   165
     (3, 'P2') :   140
     (3, 'P5') :   200
     (4, 'P1') :   165
     (4, 'P2') :   135
     (4, 'P5') :   135
     (5, 'P2') :   170
     (5, 'P4') :   120
     (6, 'P1') :   115
     (6, 'P3') :   190
     (6, 'P4') :   190
     (6, 'P5') :   175
     (7, 'P2') :   115
     (7, 'P3') :   175
     (7, 'P4') :   165
     (7, 'P5') :   200
     (8, 'P2') :   170
     (8, 'P3') :   190
     (8, 'P4') :   130
     (8, 'P5') :   195
     (9, 'P1') :   200
     (9, 'P2') :   175
     (9, 'P4') :   145
     (9, 'P5') :   140
    (10, 'P2') :   135
    (10, 'P3') :   195
    (11, 'P1') :   125
    (11, 'P4') :   190
    (12, 'P5') :   160
    (13, 'P4') :   140
    (13, 'P5') :   180
    (14, 'P2') :   130
    (14, 'P4') :   195
    (15, 'P4') :   160
    (18, 'P2') :   105
    (18, 'P3') :   185
    (19, 'P3') :   170
    (19, 'P4') :   125
    (20, 'P1') :   155
    (20, 'P2') :   115
    (20, 'P3') :   120
    (20, 'P4') :   200
    (20, 'P5') :   125
j_of_i : j(i): Product type of pallet i
    Size=106, Index=I, Domain=J, Default=None, Mutable=False
    Key : Value
      1 :    P2
      2 :    P2
      3 :    P2
      4 :    P2
      5 :    P3
      6 :    P3
      7 :    P3
      8 :    P4
      9 :    P4
     10 :    P4
     11 :    P4
     12 :    P5
     13 :    P5
     14 :    P5
     15 :    P5
     16 :    P5
     17 :    P1
     18 :    P1
     19 :    P1
     20 :    P1
     21 :    P1
     22 :    P1
     23 :    P1
     24 :    P2
     25 :    P2
     26 :    P2
     27 :    P2
     28 :    P3
     29 :    P4
     30 :    P4
     31 :    P5
     32 :    P5
     33 :    P5
     34 :    P5
     35 :    P5
     36 :    P5
     37 :    P1
     38 :    P2
     39 :    P2
     40 :    P4
     41 :    P4
     42 :    P4
     43 :    P4
     44 :    P4
     45 :    P5
     46 :    P5
     47 :    P5
     48 :    P5
     49 :    P5
     50 :    P2
     51 :    P2
     52 :    P2
     53 :    P2
     54 :    P2
     55 :    P3
     56 :    P3
     57 :    P3
     58 :    P3
     59 :    P4
     60 :    P4
     61 :    P4
     62 :    P4
     63 :    P4
     64 :    P4
     65 :    P5
     66 :    P5
     67 :    P1
     68 :    P3
     69 :    P3
     70 :    P3
     71 :    P4
     72 :    P4
     73 :    P4
     74 :    P5
     75 :    P5
     76 :    P1
     77 :    P1
     78 :    P1
     79 :    P1
     80 :    P2
     81 :    P2
     82 :    P2
     83 :    P2
     84 :    P2
     85 :    P2
     86 :    P2
     87 :    P2
     88 :    P3
     89 :    P3
     90 :    P3
     91 :    P3
     92 :    P3
     93 :    P3
     94 :    P3
     95 :    P3
     96 :    P4
     97 :    P4
     98 :    P4
     99 :    P4
    100 :    P4
    101 :    P4
    102 :    P5
    103 :    P5
    104 :    P5
    105 :    P5
    106 :    P5
n_i : n_i: Product capacity of pallet i
    Size=106, Index=I, Domain=NonNegativeIntegers, Default=None, Mutable=False
    Key : Value
      1 :   100
      2 :    65
      3 :    70
      4 :    65
      5 :   100
      6 :    70
      7 :    75
      8 :   100
      9 :    95
     10 :    85
     11 :    65
     12 :    95
     13 :    80
     14 :    95
     15 :    70
     16 :    75
     17 :    55
     18 :    55
     19 :    95
     20 :    70
     21 :    80
     22 :   100
     23 :    80
     24 :    90
     25 :    95
     26 :    80
     27 :    90
     28 :    95
     29 :    85
     30 :    75
     31 :    55
     32 :    55
     33 :    60
     34 :    70
     35 :   100
     36 :    95
     37 :   100
     38 :    55
     39 :    90
     40 :    95
     41 :    60
     42 :    55
     43 :    50
     44 :    95
     45 :    90
     46 :   100
     47 :    55
     48 :    75
     49 :    70
     50 :    55
     51 :    95
     52 :    80
     53 :    60
     54 :    65
     55 :    80
     56 :    85
     57 :    90
     58 :    55
     59 :    60
     60 :    70
     61 :    55
     62 :    75
     63 :    70
     64 :   100
     65 :    85
     66 :    75
     67 :    80
     68 :    85
     69 :    55
     70 :    60
     71 :    65
     72 :    50
     73 :    80
     74 :    70
     75 :    90
     76 :    75
     77 :    55
     78 :    60
     79 :   100
     80 :    55
     81 :    50
     82 :    65
     83 :    85
     84 :    65
     85 :    90
     86 :    70
     87 :    90
     88 :    55
     89 :   100
     90 :    90
     91 :    80
     92 :    70
     93 :    70
     94 :    75
     95 :    85
     96 :    70
     97 :    95
     98 :    50
     99 :    85
    100 :    70
    101 :    50
    102 :    50
    103 :    75
    104 :    50
    105 :   100
    106 :    70
capacity : Capacity_{k,s}: # of pallets of size s that fit in vehicle k
    Size=6, Index=K*S, Domain=NonNegativeIntegers, Default=None, Mutable=False
    Key    : Value
    (1, 1) :    22
    (1, 2) :    33
    (2, 1) :    12
    (2, 2) :    18
    (3, 1) :     6
    (3, 2) :     8
q : q: Max number of pallets allowed in waiting area overnight
    Size=1, Index=None, Domain=NonNegativeIntegers, Default=None, Mutable=False
    Key  : Value
    None :    15

(None, None, None, None, None, None, None, None)

In [68]:

# --------------------------------------------------------
# 4) Define Decision Variables
# --------------------------------------------------------
# 1) Shipment Variables
model.u = pyo.Var(model.K, model.T, model.M, model.S, within=pyo.Binary,
                  doc="u_{k,t,m,s}: 1 if a shipment of vehicle type k on day t, trip m, uses pallet size s")
model.v = pyo.Var(model.K, model.T, model.M, model.S, within=pyo.NonNegativeIntegers,
                  doc="v_{k,t,m,s}: Number of pallets of size s in shipment (k,t,m)")

# 2) Vehicle Usage
model.y = pyo.Var(model.K, model.T, model.M, within=pyo.Binary,
                  doc="y_{k,t,m}: 1 if an owned vehicle of type k is used on day t, trip m")
model.z = pyo.Var(model.K, model.T, model.M, within=pyo.Binary,
                  doc="z_{k,t,m}: 1 if a rented vehicle of type k is used on day t, trip m")

# 3) Pallet Assignment
model.x = pyo.Var(model.I, model.K, model.T, model.M, model.S, within=pyo.Binary,
                  doc="x_{i,k,t,m,s}: 1 if pallet i is shipped via (k,t,m,s)")

# 4) Order Fulfillment
model.e = pyo.Var(model.I, model.O, model.T, within=pyo.NonNegativeIntegers,
                  doc="e_{i,o,t}: products from pallet i allocated to order o and shipped on day t")


model.e_sub= pyo.Var(model.I, model.O, model.T, within=pyo.Binary,
                  doc="e_sub_{i,o,t}: if any products from pallet i allocated to order o and shipped on day t")

# --------------------------------------------------------
# 5) Define Constraints
# --------------------------------------------------------

# (1) Each pallet is shipped exactly once, after its release day
def single_shipment_rule(model, i):
    return sum(model.x[i, k, t, m, s]
               for k in model.K
               for t in model.T if t >= model.release_day[i]
               for m in model.M
               for s in model.S) == 1
model.single_shipment = pyo.Constraint(model.I, rule=single_shipment_rule)


# (2) Shipment Capacity:
#     sum_i x_{i,k,t,m,s} = v_{k,t,m,s} <= capacity_{k,s} * u_{k,t,m,s}
# We can express this in two separate constraints:
def capacity_link_1_rule(model, k, t, m, s):
    # sum of pallets assigned = v_{k,t,m,s}
    return sum(model.x[i, k, t, m, s] for i in model.I) == model.v[k, t, m, s]
model.capacity_link_1 = pyo.Constraint(model.K, model.T, model.M, model.S, rule=capacity_link_1_rule)

def capacity_link_2_rule(model, k, t, m, s):
    # v_{k,t,m,s} <= capacity_{k,s} * u_{k,t,m,s}
    return model.v[k, t, m, s] <= model.capacity[k, s] * model.u[k, t, m, s]
model.capacity_link_2 = pyo.Constraint(model.K, model.T, model.M, model.S, rule=capacity_link_2_rule)


# (3) Single pallet size per shipment
def single_size_rule(model, k, t, m):
    return sum(model.u[k, t, m, s] for s in model.S) <= 1
model.single_size = pyo.Constraint(model.K, model.T, model.M, rule=single_size_rule)


# (4) Vehicle Type usage constraint
#     y_{k,t,m} + z_{k,t,m} = sum_s u_{k,t,m,s}
def vehicle_type_rule(model, k, t, m):
    return model.y[k, t, m] + model.z[k, t, m] == sum(model.u[k, t, m, s] for s in model.S)
model.vehicle_type = pyo.Constraint(model.K, model.T, model.M, rule=vehicle_type_rule)


# (5) Owned Vehicle Daily Trip Limit
#     sum_m y_{k,t,m} <= 3 * b_k
# Here we assume each type k can do up to 3 trips per owned vehicle. Adapt if needed.
def owned_vehicle_limit_rule(model, k, t):
    return sum(model.y[k, t, m] for m in model.M) <= 3 * model.b_k[k]
model.owned_vehicle_limit = pyo.Constraint(model.K, model.T, rule=owned_vehicle_limit_rule)


# (6) Order Demand:
#     sum_{i: j(i)=j} sum_{t <= d_o} e_{i,o,t} >= p_{o,j}
# We iterate over each order o and each product j
# If p_demand[o,j] > 0, we must satisfy that demand by the due date.
def order_demand_rule(model, o, j):
    # sum of allocated products across all pallets i of type j
    return sum(model.e[i, o, t]
               for i in model.I
               if model.j_of_i[i] == j
               for t in model.T
               if t <= model.d_due[o]) >= model.p_demand[o, j]
model.order_demand = pyo.Constraint(model.O, model.J, rule=order_demand_rule)


# (7) Product allocation per pallet:
#     sum_o e_{i,o,t} <= n_i * sum_{k,m,s} x_{i,k,t,m,s}
def product_alloc_rule(model, i, t):
    return sum(model.e[i, o, t] for o in model.O) <= \
           model.n_i[i] * sum(model.x[i, k, t, m, s] for k in model.K for m in model.M for s in model.S)
model.product_alloc = pyo.Constraint(model.I, model.T, rule=product_alloc_rule)


# (8) Waiting Area Limit:
#     For each day t, the number of pallets that have been released but not shipped by day t cannot exceed q
#     sum_{i: r_i <= t} (1 - sum_{t' <= t, k,m,s} x_{i,k,t',m,s}) <= q
def waiting_area_rule(model, t):
    # Only consider pallets i whose release_day[i] <= t
    return sum(
        1 - sum(model.x[i, k, t_prime, m, s]
                for t_prime in model.T if t_prime <= t
                for k in model.K
                for m in model.M
                for s in model.S)
        for i in model.I
        if model.release_day[i] <= t
    ) <= model.q
model.waiting_area = pyo.Constraint(model.T, rule=waiting_area_rule)


M = 300

def e_sub_rule(model, i, o, t):
    # If any products from pallet i are allocated to order o on day t, then e_sub[i,o,t] must be 1.
    return model.e[i, o, t] <= M * model.e_sub[i, o, t]
model.e_sub_constraint = pyo.Constraint(model.I, model.O, model.T, rule=e_sub_rule)

# --------------------------------------------------------
# 6) Define Objective
# --------------------------------------------------------
# Minimize:
#   sum_{k,t,m} (c_k * y_{k,t,m} + c'_k * z_{k,t,m})
#   + sum_{i,o,t} (d_o - t)*h_o * e_{i,o,t}
def objective_rule(model):
    vehicle_cost = sum(model.c_owned[k]*model.y[k, t, m] + model.c_rented[k]*model.z[k, t, m]
                       for k in model.K for t in model.T for m in model.M)
    earliness_cost = sum((model.d_due[o] - t)*model.h[o]*model.e_sub[i, o, t]
                         for i in model.I
                         for o in model.O
                         for t in model.T
                         # typically you'd restrict to t <= d_due[o] if you only penalize earliness
                         if t <= model.d_due[o])
    return vehicle_cost + earliness_cost

model.Obj = pyo.Objective(rule=objective_rule, sense=pyo.minimize)

In [ ]:
import time
#edanın commitinde kodu ben (Yasin) yazdım

#Main attempt to add checkpoints but it is not working
def solve_with_checkpoints(model, max_hours=10, checkpoint_interval=1):
    """
    Solve the model in repeated time blocks (checkpoint_interval hours),
    saving the best solution so far (i.e., a 'checkpoint') each time
    one block finishes. Continue until either the model is solved optimally
    or until max_hours is reached.
    """
    solver = pyo.SolverFactory('gurobi')
    #cbc 

    # Convert hours to seconds
    one_block_seconds = checkpoint_interval * 300
    hours_elapsed = 0
    iteration = 0

    # Loop until we've run out of time or found an optimal solution
    while hours_elapsed < max_hours:
        # Instruct Gurobi to run for up to `checkpoint_interval` hours
        solver.options['TimeLimit'] = one_block_seconds

        # Use 'warm start' so that we pick up from the best known solution
        results = solver.solve(model, tee=True, warmstart=True)
        results.write()

        # Store the solution in the Pyomo model object
        model.solutions.load_from(results)

        # Save a checkpoint file of the best solution found so far
        iteration += 1
        timestamp = time.strftime("%Y%m%d_%H%M%S")
        checkpoint_name = f"checkpoint_{iteration}_{timestamp}.json"
        model.solutions.store_to(checkpoint_name)
        print(f"Checkpoint saved to {checkpoint_name}")

        # If the solver status is "ok" and the termination condition is "optimal",
        # we've found an optimal solution – no need to keep going.
        if (
            results.solver.status == pyo.SolverStatus.ok and
            results.solver.termination_condition == pyo.TerminationCondition.optimal
        ):
            print("Optimal solution found.")
            break

        # If we're here, the solver either hasn’t proven optimality yet
        # or ended on another condition – move on to the next time block
        hours_elapsed += checkpoint_interval

    return results


# # Example usage in your script:

# # Assuming you have already built your model and sets: model.I, model.K, model.T, model.M, model.S, etc.
# results = solve_with_checkpoints(model, max_hours=6, checkpoint_interval=1)

# # Now that solve() has finished (either found optimal or hit max time),
# # you can safely query the final/best known solution:
# for i in model.I:
#     for k in model.K:
#         for t in model.T:
#             for m in model.M:
#                 for s in model.S:
#                     if pyo.value(model.x[i, k, t, m, s]) > 0.5:
#                         print(f"Pallet {i} shipped by vehicle {k} on day {t}, trip {m}, size {s}")

In [70]:
solver= pyo.SolverFactory('gurobi')
solver.options['TimeLimit'] = 300


results = solver.solve(model, tee=True)
results.write()

# At this point, you can query solution values:
for i in model.I:
    for k in model.K:
        for t in model.T:
            for m in model.M:
                for s in model.S:
                    if pyo.value(model.x[i,k,t,m,s]) != 0:
                        print(f"Pallet {i} shipped by vehicle {k} on day {t}, trip {m}, size {s}")

Read LP format model from file C:\Users\edaer\AppData\Local\Temp\tmpg7wqx7ak.pyomo.lp
Reading time = 0.10 seconds
x1: 14700 rows, 40446 columns, 123197 nonzeros
Set parameter TimeLimit to value 300
Gurobi Optimizer version 12.0.1 build v12.0.1rc0 (win64 - Windows 11.0 (26100.2))

CPU model: AMD Ryzen 7 7840HS w/ Radeon 780M Graphics, instruction set [SSE2|AVX|AVX2|AVX512]
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Non-default parameters:
TimeLimit  300

Optimize a model with 14700 rows, 40446 columns and 123197 nonzeros
Model fingerprint: 0x43a74a44
Variable types: 0 continuous, 40446 integer (26964 binary)
Coefficient statistics:
  Matrix range     [1e+00, 3e+02]
  Objective range  [1e+01, 2e+02]
  Bounds range     [1e+00, 1e+00]
  RHS range        [1e+00, 2e+02]
Presolve removed 10714 rows and 19961 columns
Presolve time: 0.14s
Presolved: 3986 rows, 20485 columns, 63065 nonzeros
Variable types: 0 continuous, 20485 integer (16450 binary)
Found heuristic solution: objective 87719.000000
Found heuristic solution: objective 5597.0000000

Root relaxation: objective 3.212121e+02, 10285 iterations, 0.31 seconds (0.42 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0  321.21212    0   85 5597.00000  321.21212  94.3%     -    0s
H    0     0                    3325.0000000  321.21212  90.3%     -    0s
H    0     0                    1037.0000000  321.21212  69.0%     -    0s
H    0     0                     887.0000000  321.21212  63.8%     -    0s
H    0     0                     799.0000000  321.21212  59.8%     -    1s
H    0     0                     686.0000000  321.21212  53.2%     -    1s
H    0     0                     660.0000000  321.21212  51.3%     -    1s
H    0     0                     560.0000000  321.21212  42.6%     -    1s
     0     0  321.21212    0  297  560.00000  321.21212  42.6%     -    1s
     0     0  321.36364    0  289  560.00000  321.36364  42.6%     -    2s
     0     0  322.37374    0   85  560.00000  322.37374  42.4%     -    3s
     0     0  322.95920    0  130  560.00000  322.95920  42.3%     -    3s
     0     0  322.95920    0  143  560.00000  322.95920  42.3%     -    3s
     0     0  328.41017    0  402  560.00000  328.41017  41.4%     -    3s
     0     0  348.40054    0  449  560.00000  348.40054  37.8%     -    4s
     0     0  348.40054    0  496  560.00000  348.40054  37.8%     -    4s
H    0     0                     540.0000000  348.40054  35.5%     -    4s
     0     0  348.40054    0  487  540.00000  348.40054  35.5%     -    4s
     0     0  348.40054    0  499  540.00000  348.40054  35.5%     -    4s
     0     0  348.40054    0  477  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  496  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  491  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  514  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  518  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  532  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  538  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  538  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  550  540.00000  348.40054  35.5%     -    5s
     0     0  348.40054    0  550  540.00000  348.40054  35.5%     -    5s
     0     0  348.93142    0  553  540.00000  348.93142  35.4%     -    5s
     0     0  348.93142    0  493  540.00000  348.93142  35.4%     -    5s
     0     0  348.93142    0  532  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  582  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  592  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  602  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  602  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  581  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  676  540.00000  348.93142  35.4%     -    6s
     0     0  348.93142    0  510  540.00000  348.93142  35.4%     -    6s
     0     2  348.93142    0  424  540.00000  348.93142  35.4%     -    7s
   133   130  425.98604   10  296  540.00000  370.78713  31.3%   413   10s
H  282   236                     520.0000000  409.90694  21.2%   382   11s
  1634  1339  510.02807   77  510  520.00000  425.69738  18.1%   149   15s
  1648  1348  483.22284  134  477  520.00000  425.69738  18.1%   147   20s
  1810  1395  455.84069   25   96  520.00000  425.69738  18.1%   207   25s
  2179  1414  499.11674   25   73  520.00000  439.70808  15.4%   227   30s
  2869  1492  494.13578   22   78  520.00000  451.04923  13.3%   213   35s
H 2942  1296                     500.0000000  452.29257  9.54%   212   35s
  3548  1128  466.32847   24   52  500.00000  462.35101  7.53%   204   40s
  4478   842 infeasible   44       500.00000  474.22284  5.16%   186   45s
  5436   740  495.68525   34   81  500.00000  475.23167  4.95%   165   50s
  6288   943  487.59928   61   38  500.00000  479.18093  4.16%   149   55s
  7488  1227  494.50221   67   35  500.00000  480.52613  3.89%   134   60s
  8378  1358  489.22393   90   64  500.00000  482.00000  3.60%   126   65s
  9439  1631  494.22485   45   47  500.00000  483.29363  3.34%   117   70s
 10604  2132  488.88070  116   40  500.00000  483.60509  3.28%   107   76s
 11663  2439     cutoff   72       500.00000  484.10221  3.18%  99.2   80s
 12853  2740  492.65713  101   27  500.00000  484.86063  3.03%  92.9   85s
 14093  3126  485.40169   69   57  500.00000  485.10539  2.98%  86.9   90s
 15515  3541 infeasible  122       500.00000  485.68047  2.86%  81.1   95s
 16663  4077  486.12041   69   40  500.00000  485.87068  2.83%  77.5  102s
 17182  4348  489.16329  106   45  500.00000  485.87475  2.83%  75.9  105s
 18606  4748 infeasible  133       500.00000  486.20862  2.76%  71.6  111s
 20031  5353  489.78035   65   32  500.00000  486.60457  2.68%  68.1  117s
 20795  5354  491.85344   97   44  500.00000  486.82212  2.64%  66.3  121s
 21991  5400  490.97531  113   45  500.00000  487.38100  2.52%  64.4  128s
 22603  5535  493.49466   71   40  500.00000  487.56258  2.49%  63.6  131s
 23438  5445  492.63541   80   54  500.00000  487.89621  2.42%  62.5  135s
 24989  5482  492.42941   95   35  500.00000  488.68018  2.26%  60.3  143s
 25792  5246  494.67662   77   36  500.00000  488.82945  2.23%  59.3  147s
 26624  6182     cutoff  109       500.00000  489.31988  2.14%  58.4  154s
 29920  7101  492.09576  118   26  500.00000  489.74135  2.05%  54.1  165s
 36395  7306     cutoff  120       500.00000  490.27210  1.95%  47.4  171s
 39145  7453 infeasible   80       500.00000  490.60752  1.88%  45.4  176s
 41097  7528  492.55804   56   42  500.00000  490.72360  1.86%  44.2  180s
 44041  7998  491.35976  113   43  500.00000  491.04818  1.79%  42.4  185s
 44998  8468 infeasible   90       500.00000  491.11145  1.78%  41.8  193s
 48705  8749     cutoff  136       500.00000  491.34359  1.73%  39.8  196s
 51572  9400  493.35941  124   42  500.00000  491.49798  1.70%  38.5  200s
 54888  9859 infeasible  114       500.00000  491.64617  1.67%  37.2  206s
 57657 10242     cutoff  120       500.00000  491.77944  1.64%  36.2  211s
 59551 11015  492.37540  120   40  500.00000  491.84087  1.63%  35.6  218s
 63047 11314 infeasible  123       500.00000  491.93433  1.61%  34.5  221s
 65647 11588  493.00767  107   25  500.00000  492.01490  1.60%  33.8  225s
 68070 11914  492.72704  124   32  500.00000  492.07330  1.59%  33.2  230s
 71529 12044  493.26083  127   39  500.00000  492.20593  1.56%  32.3  236s
 73783 11914 infeasible  127       500.00000  492.27363  1.55%  31.8  240s
 76423 11691  492.56941  119   38  500.00000  492.39518  1.52%  31.2  245s
 79088 11394  492.98997   91   38  500.00000  492.48780  1.50%  30.8  250s
 80810 11223  492.64720  115   30  500.00000  492.57287  1.49%  30.5  255s
 81647 10941     cutoff   58       500.00000  492.58762  1.48%  30.3  260s
 84563 10414     cutoff  124       500.00000  492.75640  1.45%  29.9  266s
 86355 10056     cutoff  122       500.00000  492.82589  1.43%  29.6  270s
 88814  9611  493.05000  123   32  500.00000  492.94201  1.41%  29.3  275s
 91467  9017  496.34336  128   34  500.00000  493.14212  1.37%  29.0  281s
 93285  8607     cutoff  116       500.00000  493.24182  1.35%  28.8  285s
 95877  8116  494.11688   93   29  500.00000  493.41273  1.32%  28.4  290s
 98431  7518     cutoff  134       500.00000  493.59745  1.28%  28.1  295s
 100813  6837 infeasible  126       500.00000  493.82074  1.24%  27.9  300s

Cutting planes:
  Gomory: 2
  Cover: 72
  Clique: 160
  MIR: 6
  StrongCG: 1
  Flow cover: 7
  Zero half: 1
  RLT: 1
  BQP: 4

Explored 101215 nodes (2857134 simplex iterations) in 300.11 seconds (349.04 work units)
Thread count was 16 (of 16 available processors)

Solution count 10: 500 520 540 ... 3325

Time limit reached
Best objective 5.000000000000e+02, best bound 4.940000000000e+02, gap 1.2000%
WARNING: Loading a SolverResults object with an 'aborted' status, but
containing a solution
# ==========================================================
# = Solver Results                                         =
# ==========================================================
# ----------------------------------------------------------
#   Problem Information
# ----------------------------------------------------------
Problem:
- Name: x1
  Lower bound: 494.0
  Upper bound: 500.0
  Number of objectives: 1
  Number of constraints: 14700
  Number of variables: 40446
  Number of binary variables: 26964
  Number of integer variables: 40446
  Number of continuous variables: 0
  Number of nonzeros: 123197
  Sense: minimize
# ----------------------------------------------------------
#   Solver Information
# ----------------------------------------------------------
Solver:
- Status: aborted
  Return code: 0
  Message: Optimization terminated because the time expended exceeded the value specified in the TimeLimit parameter.
  Termination condition: maxTimeLimit
  Termination message: Optimization terminated because the time expended exceeded the value specified in the TimeLimit parameter.
  Wall time: 300.1089999675751
  Error rc: 0
# ----------------------------------------------------------
#   Solution Information
# ----------------------------------------------------------
Solution:
- number of solutions: 0
  number of solutions displayed: 0
Pallet 1 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 2 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 3 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 4 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 5 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 6 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 7 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 8 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 9 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 10 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 11 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 12 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 13 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 14 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 15 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 16 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 17 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 18 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 19 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 20 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 21 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 22 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 23 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 24 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 25 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 26 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 26 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 27 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 28 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 29 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 30 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 30 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 31 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 32 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 33 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 34 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 35 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 36 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 36 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 37 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 37 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 38 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 39 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 40 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 40 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 41 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 42 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 43 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 44 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 45 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 46 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 47 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 48 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 49 shipped by vehicle 2 on day 3, trip 1, size 2
Pallet 50 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 51 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 52 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 53 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 54 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 55 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 56 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 57 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 57 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 58 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 59 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 60 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 61 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 62 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 63 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 64 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 64 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 65 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 65 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 66 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 67 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 68 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 68 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 68 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 69 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 70 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 71 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 72 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 73 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 74 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 75 shipped by vehicle 2 on day 5, trip 2, size 2
Pallet 76 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 77 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 78 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 79 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 79 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 80 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 81 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 82 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 83 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 84 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 85 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 86 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 86 shipped by vehicle 2 on day 4, trip 1, size 2
Pallet 87 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 87 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 88 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 89 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 90 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 91 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 92 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 92 shipped by vehicle 2 on day 1, trip 3, size 2
Pallet 93 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 94 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 95 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 96 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 97 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 98 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 99 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 100 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 101 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 102 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 103 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 104 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 105 shipped by vehicle 1 on day 6, trip 2, size 2
Pallet 105 shipped by vehicle 2 on day 2, trip 2, size 2
Pallet 106 shipped by vehicle 1 on day 6, trip 2, size 2

In [71]:
sum(model.c_owned[k]*pyo.value(model.y[k, t, m])
                       for k in model.K for t in model.T for m in model.M)

500.0

In [72]:
sum((model.d_due[o] - t)*model.h[o]*pyo.value(model.e_sub[i,o,t])
                         for i in model.I
                         for o in model.O
                         for t in model.T
                         # typically you'd restrict to t <= d_due[o] if you only penalize earliness
                         if t <= model.d_due[o])

0.0

In [73]:
for i in model.I:
    for o in model.O:
        for t in model.T:
                    if pyo.value(model.e[i,o,t]) != 0:
                        print(f"Pallet {i} shipped to order {o} on day {t}")
                        # print(f"Pallet {i} shipped by vehicle {k} on day {t}, trip {m}, size {s}")

Pallet 1 shipped to order 1 on day 2
Pallet 2 shipped to order 5 on day 1
Pallet 2 shipped to order 7 on day 1
Pallet 3 shipped to order 5 on day 1
Pallet 4 shipped to order 5 on day 1
Pallet 5 shipped to order 2 on day 4
Pallet 7 shipped to order 7 on day 1
Pallet 8 shipped to order 20 on day 2
Pallet 9 shipped to order 7 on day 1
Pallet 10 shipped to order 19 on day 4
Pallet 11 shipped to order 5 on day 1
Pallet 12 shipped to order 12 on day 1
Pallet 13 shipped to order 20 on day 2
Pallet 14 shipped to order 4 on day 2
Pallet 15 shipped to order 12 on day 1
Pallet 16 shipped to order 7 on day 1
Pallet 17 shipped to order 11 on day 3
Pallet 18 shipped to order 11 on day 3
Pallet 19 shipped to order 1 on day 2
Pallet 20 shipped to order 11 on day 3
Pallet 21 shipped to order 6 on day 5
Pallet 22 shipped to order 4 on day 2
Pallet 23 shipped to order 20 on day 2
Pallet 24 shipped to order 3 on day 3
Pallet 25 shipped to order 4 on day 2
Pallet 26 shipped to order 1 on day 2
Pallet 26 shipped to order 7 on day 1
Pallet 26 shipped to order 20 on day 2
Pallet 27 shipped to order 4 on day 2
Pallet 27 shipped to order 20 on day 2
Pallet 28 shipped to order 20 on day 2
Pallet 29 shipped to order 8 on day 6
Pallet 30 shipped to order 5 on day 1
Pallet 30 shipped to order 11 on day 3
Pallet 31 shipped to order 3 on day 3
Pallet 33 shipped to order 13 on day 3
Pallet 34 shipped to order 3 on day 3
Pallet 34 shipped to order 13 on day 3
Pallet 35 shipped to order 1 on day 2
Pallet 36 shipped to order 4 on day 2
Pallet 36 shipped to order 7 on day 1
Pallet 36 shipped to order 20 on day 2
Pallet 37 shipped to order 4 on day 2
Pallet 37 shipped to order 6 on day 5
Pallet 37 shipped to order 20 on day 2
Pallet 38 shipped to order 3 on day 3
Pallet 39 shipped to order 3 on day 3
Pallet 40 shipped to order 5 on day 1
Pallet 40 shipped to order 7 on day 1
Pallet 40 shipped to order 13 on day 3
Pallet 41 shipped to order 2 on day 4
Pallet 41 shipped to order 14 on day 4
Pallet 42 shipped to order 13 on day 3
Pallet 43 shipped to order 11 on day 3
Pallet 44 shipped to order 11 on day 3
Pallet 46 shipped to order 2 on day 4
Pallet 47 shipped to order 13 on day 3
Pallet 48 shipped to order 3 on day 3
Pallet 49 shipped to order 3 on day 3
Pallet 50 shipped to order 2 on day 4
Pallet 51 shipped to order 8 on day 6
Pallet 52 shipped to order 14 on day 4
Pallet 53 shipped to order 2 on day 4
Pallet 53 shipped to order 14 on day 4
Pallet 54 shipped to order 2 on day 4
Pallet 56 shipped to order 19 on day 4
Pallet 57 shipped to order 2 on day 4
Pallet 57 shipped to order 20 on day 2
Pallet 59 shipped to order 19 on day 4
Pallet 60 shipped to order 14 on day 4
Pallet 62 shipped to order 14 on day 4
Pallet 64 shipped to order 2 on day 4
Pallet 64 shipped to order 20 on day 2
Pallet 65 shipped to order 6 on day 5
Pallet 65 shipped to order 7 on day 1
Pallet 66 shipped to order 2 on day 4
Pallet 67 shipped to order 6 on day 5
Pallet 68 shipped to order 6 on day 5
Pallet 68 shipped to order 7 on day 1
Pallet 68 shipped to order 19 on day 4
Pallet 69 shipped to order 6 on day 5
Pallet 70 shipped to order 6 on day 5
Pallet 71 shipped to order 6 on day 5
Pallet 72 shipped to order 6 on day 5
Pallet 73 shipped to order 6 on day 5
Pallet 74 shipped to order 6 on day 5
Pallet 75 shipped to order 6 on day 5
Pallet 76 shipped to order 9 on day 6
Pallet 77 shipped to order 9 on day 6
Pallet 78 shipped to order 9 on day 6
Pallet 79 shipped to order 1 on day 2
Pallet 79 shipped to order 9 on day 6
Pallet 79 shipped to order 20 on day 2
Pallet 80 shipped to order 9 on day 6
Pallet 81 shipped to order 8 on day 6
Pallet 82 shipped to order 9 on day 6
Pallet 82 shipped to order 10 on day 6
Pallet 83 shipped to order 10 on day 6
Pallet 84 shipped to order 18 on day 6
Pallet 85 shipped to order 8 on day 6
Pallet 86 shipped to order 2 on day 4
Pallet 86 shipped to order 9 on day 6
Pallet 86 shipped to order 18 on day 6
Pallet 87 shipped to order 7 on day 1
Pallet 87 shipped to order 8 on day 6
Pallet 87 shipped to order 9 on day 6
Pallet 88 shipped to order 8 on day 6
Pallet 89 shipped to order 8 on day 6
Pallet 89 shipped to order 18 on day 6
Pallet 90 shipped to order 18 on day 6
Pallet 91 shipped to order 18 on day 6
Pallet 92 shipped to order 7 on day 1
Pallet 92 shipped to order 10 on day 6
Pallet 93 shipped to order 8 on day 6
Pallet 94 shipped to order 10 on day 6
Pallet 94 shipped to order 18 on day 6
Pallet 95 shipped to order 10 on day 6
Pallet 96 shipped to order 9 on day 6
Pallet 97 shipped to order 8 on day 6
Pallet 97 shipped to order 9 on day 6
Pallet 97 shipped to order 15 on day 6
Pallet 98 shipped to order 8 on day 6
Pallet 99 shipped to order 15 on day 6
Pallet 100 shipped to order 9 on day 6
Pallet 101 shipped to order 8 on day 6
Pallet 102 shipped to order 8 on day 6
Pallet 103 shipped to order 9 on day 6
Pallet 104 shipped to order 8 on day 6
Pallet 105 shipped to order 1 on day 2
Pallet 105 shipped to order 4 on day 2
Pallet 105 shipped to order 8 on day 6
Pallet 105 shipped to order 9 on day 6
Pallet 106 shipped to order 8 on day 6
Pallet 106 shipped to order 9 on day 6

In [74]:
# At this point, you can query solution values:
sumY=0
sumZ=0
sumE=0
for k in model.K:
    for t in model.T:
        for m in model.M:
                # print(f"{pyo.value(model.y[k,t,m])}")
                sumY+=pyo.value(model.y[k,t,m])
                sumZ+=pyo.value(model.z[k,t,m])
                sumE+=pyo.value(model.e[i, o, t])
                # if pyo.value(model.y[k,t,m]) > 0.5:
                    # print(f"Pallet {i} shipped by vehicle {k} on day {t}, trip {m}, size {s}")


for i in model.I:
    for o in model.O:
        for t in model.T:
            sumE+=pyo.value(model.e[i, o, t])

In [75]:
sumY,sumZ,sumE

(6.0, 0.0, 8815.0)